.mute-button {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  padding: 0.7rem 1rem 0.45rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  z-index: 9999;
  transition: background 0.3s ease;
}

.mute-button:hover {
  background: rgba(0, 0, 0, 0.7);
}
