.parallax-section {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.parallax-container {
    width: 100%;
    height: 100%;
}

.parallax-text {
    color: black;
    font-family: "Playfair Display", serif;
    position: absolute;
    top: 35%;
    left: 17%;
    line-height: 9rem;
    font-size: 9rem;
    pointer-events: none;
    z-index: 100;
}

.parallax-description {
    color: black;
    font-family: inherit;
    position: absolute;
    top: 55%;
    left: 29%;
    width: 40%;
    text-align: center;
    line-height: 2.5rem;
    font-size: 1.7rem;
    pointer-events: none;
}