.parallax-section {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    padding: 3rem;
    box-sizing: border-box;
}

.parallax-container {
    width: 100%;
    height: 100%;
}

.parallax-text {
    color: white;
    font-family: "Playfair Display", serif;
    position: absolute;
    top: 35%;
    left: 20%;
    line-height: 9rem;
    font-size: 10rem;
    pointer-events: none;
    z-index: 100;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}