.memory-section {
    height: 200vh;
    position: relative;

    /* Stronger colorful gradient */
    background: linear-gradient(to bottom,
            #ffffff 0%,
            #ffffff 20%,
            #ffcaf2 40%,
            #ffc182 60%,
            #ffd86a 80%,
            #fff57e 100%);
}

/* STICKY text box */
.memory-text {
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;

    padding: 2rem 3rem;
    backdrop-filter: blur(8px);

    width: fit-content;
    margin: 0 auto;

    opacity: 0;
    transition: opacity 0.6s ease;
}

.memory-text h1 {
    font-family: "Playfair Display", Georgia, serif;
    font-weight: 100;
    font-size: 2rem;
    line-height: 3rem;
}

/* FADE IN after scrolling 50vh */
.fade-in-trigger {
    /* Makes text fade in only when the user has scrolled enough */
    animation: fadeInAtScroll 1s forwards;
    animation-timeline: scroll();
    animation-range: 100vh 170vh;
}

/* Scroll-driven animation */
@keyframes fadeInAtScroll {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}